* {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

body {
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.container-fluid {
  height: 550px;
}

.lead {
  font-size: 24px;
}

img {
  float: left;
  padding: 3em;
  align-content: center;
}

p {
  padding: 80px;
}

p.lead {
  clear: left;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  width: 10em;
}

.samples {
  display: inline;
  padding: 80px;
}

.contact {
  padding: 80px;
}

/* Add a hover effect (blue shadow) */
.site:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
