* {
  max-width: 750px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

p {
  padding: 80px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  width: 10em;
}

.samples {
  display: inline;
  padding: 80px;
}

img {
  width: 200px;
}

.img-circle {
    border-radius: 45%;
}

.contact {
  padding: 80px;
}

.contact li {
  width: 15em;
}
